<div class="card cardChallenge shadow">
    <img class="card-img-top card_img" src="<%=imgSrc%>" alt="<%=cardTitle%>">
    <div class="card-body">
        <h3 class="mb-3"><%=cardTitle%> <br/>
          <small>run</small>
        </h3>
        <p class="card-text"><%=cardText%></p>
    </div>
</div>