<div class="card cardChallenge" style="width: 18rem;">
    <img class="card-img-top card_img" src="<%=imgSrc%>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%=cardTitle%></h5>
        <p class="card-text"><%=cardText%></p>
    </div>
</div>