
body {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 17px;
  font-family: 'Fira Sans', sans-serif;
  color: #67696e;
}

a {
  color: #00B7FF;
}

header, footer {
  background-color: #ffffff;
}

p.lead { font-size: 1.75rem; }
p.lead-md { font-size: 1.25rem; }


h1, h2, h3, h4 { 
  font-family: 'Zilla Slab', serif; 
  font-weight: 700;
  font-style: italic;
  color: #741448;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2rem;
}

main{
  padding-top: 50px;
  background-color: #f8f9fa;
}

#logo {
  width: 15rem;
}

#intro {
 background: transparent url('/assets/imgs/banner.jpg') no-repeat bottom;
 background-size: contain;
}

.block{
  margin-bottom: 30px;
}

#infoSide{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app_side{
  display: flex;
  justify-content: center;
  align-items: center;
}

#height_app_image{
  height: 90% !important;
}

.parent{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
}

.image1{
  position: absolute;
  top: 0;
  left: 0;
}

.app_section{
  display: flex;
  flex-direction: row;
  padding: 0 2rem 3rem 0;
  align-items: center;
}

#app_button{
  margin-right: 30px;
}

#app_subtitle{
  margin-bottom: 0;
}

.challenges{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardChallenge{
  min-height: 415px;
}

.partnerlogos img {
  max-height: 4.5rem;
  margin-bottom: 1rem;
}

#runs .card {
  margin-bottom: 1.5rem;
}

.card_img{
  width: 100%;
  height: 230px;
}

.card-body h3 {
  line-height: 1.5rem;
}

.subtitle{
  font-style: italic;
  font-size: large;
  color: darkgray;
  font-weight: normal;
}

.gray_text{
  color: darkgray;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
